.mini {
	width: 140px;
	height: 140px;
	background: #FF614E;
	position: relative;
	margin: 0.6em;
	border: 3px solid white;
	border-radius: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
	float: left;
}